@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #AD1FEA;
  --blue: #4661E6;
  --navy: #4661E6;
  --white: #FFFFFF;
  --grey: #F2F4FF;
  --off-white: #F7F8FD;
  --darker-navy: #3A4374;
  --slate: #647196;
  --orange: #F49F85;
  --baby-blue: #62BCFA;
}